<!DOCTYPE html>
<html>
<head>
<title><%= @page_title %> - <%= site.title %></title>
<link href='//fonts.googleapis.com/css?family=Open+Sans:200,400,600,700,300' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'speedyrails' %>
<%= javascript_include_tag 'speedyrails' %>
<%= csrf_meta_tags %>
<meta name='Generator' content='Staytus/<%= Staytus::Config.version %>' />
<link rel="shortcut icon" href="<%= asset_path('favicon.png') %>"/>
<meta content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1' name='viewport' />
</head>
<body>

  <%= display_flash %>

  <%= yield %>

  <footer class='siteFooter'>
   <div class="container-footer">
     <div class="row">
       <div class="col-xs-12">
       <div class="col-xs-3">
     <ul class='siteFooter__nav text-left'>
       <li><a href='/history'><%= t("themes.default.footer.history", :default => 'Incident Archive') %></a></li>
       <li><a href='mailto:<%= site.support_email %>'><%= t("themes.default.footer.contact_us", :default => 'Contact Support') %></a></li>
       <li><a href='<%= site.website_url %>'><%= t("themes.default.footer.homepage", :default => 'Home') %></a></li>
     </ul>
         </div>
       <div class="col-xs-6">
         <ul class='siteFooter__nav2'>

           <% if site.allow_subscriptions? %>
               <li><a href='/subscribe'>Subscribe to Updates</a></li>

         <% end %>
                <li><a href="//support.speedyrails.com/hc/en-us">Help Center</a></li>
         </ul>
       </div>
       <div class="col-xs-3 text-right siteFooter__social">

         <a href="http://twitter.com/speedyrails"><i class="fa fa-3x fa-twitter social-icon"></i><br />Follow Us</a>

         </div>
       </div>
   </div>
   </div>

<p class="copyright">
  <img src="<%= asset_path('footer-divider-1371.png') %>" />
  <br />
  &copy; 2006-2016 Speedyrails Inc - All Rights Reserved <br/>
  <%= t("themes.default.footer.powered_by", :default => "Status page powered by") %> <a href='http://staytus.co'>Staytus</a>
</p>

  </footer>



</body>
</html>
